<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title th:text="Sheduler"></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
<link rel="stylesheet" href="css/style.css"/>
<body>
<div id="root" class="container">
    <div class="row">
        <div class="twelve columns">
            <ul class="navMenu">
                <li><a href="/login" v-if="profile">Выйти</a></li>
                <li><a type="submit" v-on:click="logout" value="Выйти"/></li>
            </ul>
        </div>
                <p id="loggedin">{{profile}}</p>
    </div>
    <div class="container" v-if="profile">
        <div class="row">
            <div class="twelve columns">
                <h1>Scheduler</h1>
                <ul>
                    <li v-for="user in users">
                        <h3>{{user.username}}</h3>
                        <p>{{user.firstName}}</p>
                        <p>{{user.lastName}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" v-else>
        <div class="row">
            <div class="twelve columns">
                <h4 id="loginHeader">Login</h4>
                <div class="six columns align-center">
                    <label for="username">Username</label>
                    <input v-model="username" class="u-full-width" type="text" placeholder="yourUsername"
                           id="username"/>
                    <label for="password">Password</label>
                    <input v-model="password" class="u-full-width" type="password" id="password"/>
                    <input class="u-full-width button-primary" type="submit" v-on:click="login" value="Submit"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
</html>